{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <h1>{{ question.text }}</h1>

        {% if messages %}
            {% for message in messages %}
                <h2 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
            {% endfor %}
        {% endif %}

        <form action="{% url 'vote' question.id %}" method="POST">
            {% csrf_token %}
            {% for answer in question.answer_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ answer.id }}">
                <label for="choice{{ forloop.counter }}">{{ answer.answer_text }}</label>
                <br>
            {% endfor %}
            <input type="submit" value="Отправить">
            <a href="{% url 'list_questions' %}" role="button">Отмена</a>
        </form>

    </div>

{% endblock content %}