{% extends 'base.html' %}
{# Показывать список пользователей и количество пройденных тестов на отдельной странице #}
{# Пользователей отсортировать по количеству пройденных тестов #}
{% block title %}
    Рейтинг пользователей
{% endblock %}
{% block content %}
    <h1>Рейтинг пользователей</h1>
    <table id="table">
        <tr>
            <th>Пользователь</th>
            <th>Количество пройденных тестов</th>
            <th>Количество баллов на счету</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.login }}</td>
                <td>{{ user.count_of_tests }}</td>
                <td>{{ user.chain }}</td>
            </tr>
        {% endfor %}


    </table>
{% endblock %}