{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
    <h1>Вход</h1>
    {% if form.errors %}
        <p>Данные для входа не верны</p>
    {% else %}
        <h2>Используйте форму для входа:</h2>
    {% endif %}
    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
                <tr>
                    <td><input type="submit" value="Войти"></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}